
<!-- <app-order-product></app-order-product>
<br> -->

<form (ngSubmit)="onCreatedOrder()" #orderForm=ngForm>
    <div class="form-group">
        <label>Customer Name</label>
        <input type="text" class="form-control" id="customerName" [(ngModel)]="order.name" name="customerName">
        
    </div>
    <br>
    <div class="form-group">
        <label>Date Signed</label>
        <input type="date" class="form-control" id="dateSigned" [(ngModel)]="order.dateSigned" required name="dateSigned">
        
    </div>
</form>
<br>
<button (click)="onCreatedOrder()" [disabled]="!orderForm.valid">Confirm Order</button>
<br>
<br>